
@keyframes mobile-slide-in-left {
  0% {left: -70vw}
  100% {left: 0}
}

@keyframes mobile-slide-out-left {
  0% {left: 0vw}
  100% {left: -70vw }
}

@keyframes mobile-slide-in-right {
  0% {right: -70vw}
  100% {right: 0}
}

@keyframes mobile-slide-out-right {
  0% {right: 0vw}
  100% {right: -70vw}
}

@keyframes desktop-slide-in-left {
  0% {left: -40vw}
  100% {left: 0}
}

@keyframes desktop-slide-out-left {
  0% {left: 0vw}
  100% {left: -40vw }
}

@keyframes desktop-slide-in-right {
  0% {right: -40vw}
  100% {right: 0}
}

@keyframes desktop-slide-out-right {
  0% {right: 0vw}
  100% {right: -40vw}
}

.slide-in-left{
  animation: mobile-slide-in-left .5s;
  @media screen and (min-width: $desktop) {
    animation: desktop-slide-in-left .5s;
  }
}

.slide-out-left{
  animation: mobile-slide-out-left .5s;
  @media screen and (min-width: $desktop) {
    animation: desktop-slide-out-left .5s;
  }
}

.slide-in-right{
  animation: mobile-slide-in-right .5s;
  @media screen and (min-width: $desktop) {
    animation: desktop-slide-in-right .5s;
  }
}

.slide-out-right{
  animation: mobile-slide-out-right .5s;
  @media screen and (min-width: $desktop) {
    animation: desktop-slide-out-right .5s;
  }
}


@keyframes desktop-overlay-slide-in-left {
  0% { right: -60vw }
  100% { right: 0 }
}

@keyframes desktop-overlay-slide-out-left {
  0% { right: 0 }
  100% { right: -60vw }
}

@keyframes desktop-overlay-slide-in-right {
  0% { left: -60vw }
  100% { left: 0 }
}

@keyframes desktop-overlay-slide-out-right {
  0% { left: 0 }
  100% { left: -60vw }
}

@keyframes mobile-overlay-slide-in-left {
  0% { right: -30vw }
  100% { right: 0 }
}

@keyframes mobile-overlay-slide-out-left {
  0% { right: 0 }
  100% { right: -30vw }
}

@keyframes mobile-overlay-slide-in-right {
  0% { left: -30vw }
  100% { left: 0 }
}

@keyframes mobile-overlay-slide-out-right {
  0% { left: 0 }
  100% { left: -30vw }
}

.overlay-slide-in-left {
  animation: mobile-overlay-slide-in-left .5s;
  @media screen and (min-width: $desktop) { 
    animation: desktop-overlay-slide-in-left .5s;
  }
}

.overlay-slide-out-left {
  animation: mobile-overlay-slide-out-left .5s;
  @media screen and (min-width: $desktop) { 
    animation: desktop-overlay-slide-out-left .5s;
  }
}

.overlay-slide-in-right {
  animation: mobile-overlay-slide-in-right .5s;
  @media screen and (min-width: $desktop) { 
    animation: desktop-overlay-slide-in-right .5s;
  }
}

.overlay-slide-out-right {
  animation: mobile-overlay-slide-out-right .5s;
  @media screen and (min-width: $desktop) { 
    animation: desktop-overlay-slide-out-right .5s;
  }
}