$test: 2px dashed green;
$hover: red;
$mainfont: 'Lato', sans-serif;
$logofont: 'Josefin Sans', sans-serif;
$logocolor: #001b47;
$main-text: #001b47;
$inputpadding: 3%;
$bgcolor: white;
$boxshadow: rgba(0, 10, 27, 0.2);
$deactivated: lightgray;
$desktop: 800px;