
.checkout-title{
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  span{
    font-family: $logofont;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }
}

.ashley-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
}

.ashley-img-container{
  display: none;
  @media screen and (min-width: $desktop){
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.ashley-img{
  width: 60%;
}

.ashley-info-links{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 5%;
  p{
    margin-bottom: 2%;
  }
  a{
    &:hover{
      color: $hover;
      font-style: italic;
    }
  }
  @media screen and (min-width: $desktop){
    margin-left: 5%;
    text-align: left;
    margin-top: inherit;
  }
}

.ashley-links{
  display: flex;
  flex-direction: row;
  a{
    margin-right: 2%;
  }
  img{
    width: 4vw;
  }
}