
.header{
  background-color: $bgcolor;
  box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 2vw;
  position: fixed;
  min-height: 100px;
  top: 0;
  width: 96vw;
  a{
    text-decoration: none;
  }
  @media screen and (min-width: $desktop){
    flex-direction: row;
  }
}


.header__tagline{
  display: none;
  span{
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    text-transform: uppercase;
    width: 180px;
    padding-right: 2px;
  }
}

.header__search{
  height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  order: 3;
  @media screen and (min-width: $desktop){
    order: 1;
  }
  label{
    @extend .button;
    height: 33px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 200px;
    &:focus-within{
      border: 1px solid $hover;
      color: $hover;
    }
  }
  input{
    &::placeholder{
      color: $main-text;
      text-transform: uppercase;
      font-size: .75rem;
    }
    &:focus{
      outline-width: 0px;
      &::placeholder{
        color: rgba(211, 211, 211, 0.671);
      }
    }
    &[type="text"]{
      border: 0;
      width: 90%;
    }
  }
}

.header__logo{
  flex: 1;
  margin: 0 auto;
  text-align: center;
  order: 1;
  @media screen and (min-width: $desktop){
    order: 2;
  }
  h1{
    color: $logocolor;
    font-family: $logofont;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    &:hover{
      color: $hover;
      cursor: pointer;
    }
  }
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  order: 2;
  @media screen and (min-width: $desktop){
    order: 3;
  }
}

.header__button{
  @extend .button;
  font-size: .75rem;
  height: 35px;
  min-width: 100px;
}

.header__button--last{
  margin-left: 2%;
}