.image-index{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 70px 0;
  @media screen and (min-width: $desktop){
    margin: 130px 0 0 0;
  }
}

.image-index-item{
  margin-bottom: 5%;
  max-width: 600px;
  width: 90%;
  img{
    width: 100%;
  }
}