@keyframes mobile-slide-in-left {
  0% {
    left: -70vw;
  }
  100% {
    left: 0;
  }
}
@keyframes mobile-slide-out-left {
  0% {
    left: 0vw;
  }
  100% {
    left: -70vw;
  }
}
@keyframes mobile-slide-in-right {
  0% {
    right: -70vw;
  }
  100% {
    right: 0;
  }
}
@keyframes mobile-slide-out-right {
  0% {
    right: 0vw;
  }
  100% {
    right: -70vw;
  }
}
@keyframes desktop-slide-in-left {
  0% {
    left: -40vw;
  }
  100% {
    left: 0;
  }
}
@keyframes desktop-slide-out-left {
  0% {
    left: 0vw;
  }
  100% {
    left: -40vw;
  }
}
@keyframes desktop-slide-in-right {
  0% {
    right: -40vw;
  }
  100% {
    right: 0;
  }
}
@keyframes desktop-slide-out-right {
  0% {
    right: 0vw;
  }
  100% {
    right: -40vw;
  }
}
.slide-in-left {
  animation: mobile-slide-in-left .5s;
}
@media screen and (min-width: 800px) {
  .slide-in-left {
    animation: desktop-slide-in-left .5s;
  }
}

.slide-out-left {
  animation: mobile-slide-out-left .5s;
}
@media screen and (min-width: 800px) {
  .slide-out-left {
    animation: desktop-slide-out-left .5s;
  }
}

.slide-in-right {
  animation: mobile-slide-in-right .5s;
}
@media screen and (min-width: 800px) {
  .slide-in-right {
    animation: desktop-slide-in-right .5s;
  }
}

.slide-out-right {
  animation: mobile-slide-out-right .5s;
}
@media screen and (min-width: 800px) {
  .slide-out-right {
    animation: desktop-slide-out-right .5s;
  }
}

@keyframes desktop-overlay-slide-in-left {
  0% {
    right: -60vw;
  }
  100% {
    right: 0;
  }
}
@keyframes desktop-overlay-slide-out-left {
  0% {
    right: 0;
  }
  100% {
    right: -60vw;
  }
}
@keyframes desktop-overlay-slide-in-right {
  0% {
    left: -60vw;
  }
  100% {
    left: 0;
  }
}
@keyframes desktop-overlay-slide-out-right {
  0% {
    left: 0;
  }
  100% {
    left: -60vw;
  }
}
@keyframes mobile-overlay-slide-in-left {
  0% {
    right: -30vw;
  }
  100% {
    right: 0;
  }
}
@keyframes mobile-overlay-slide-out-left {
  0% {
    right: 0;
  }
  100% {
    right: -30vw;
  }
}
@keyframes mobile-overlay-slide-in-right {
  0% {
    left: -30vw;
  }
  100% {
    left: 0;
  }
}
@keyframes mobile-overlay-slide-out-right {
  0% {
    left: 0;
  }
  100% {
    left: -30vw;
  }
}
.overlay-slide-in-left {
  animation: mobile-overlay-slide-in-left .5s;
}
@media screen and (min-width: 800px) {
  .overlay-slide-in-left {
    animation: desktop-overlay-slide-in-left .5s;
  }
}

.overlay-slide-out-left {
  animation: mobile-overlay-slide-out-left .5s;
}
@media screen and (min-width: 800px) {
  .overlay-slide-out-left {
    animation: desktop-overlay-slide-out-left .5s;
  }
}

.overlay-slide-in-right {
  animation: mobile-overlay-slide-in-right .5s;
}
@media screen and (min-width: 800px) {
  .overlay-slide-in-right {
    animation: desktop-overlay-slide-in-right .5s;
  }
}

.overlay-slide-out-right {
  animation: mobile-overlay-slide-out-right .5s;
}
@media screen and (min-width: 800px) {
  .overlay-slide-out-right {
    animation: desktop-overlay-slide-out-right .5s;
  }
}

.button, .modal-button button, .header__search label, .header__button, .search-results button, .add-to-cart, .cart-remove, .cart-update, .checkout {
  background-color: white;
  border: 1px solid #001b47;
  color: #001b47;
  border-radius: 0;
  text-transform: uppercase;
}
.button:hover, .modal-button button:hover, .header__search label:hover, .header__button:hover, .search-results button:hover, .add-to-cart:hover, .cart-remove:hover, .cart-update:hover, .checkout:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.panel, .item-detail-panel, .cart-panel {
  font-family: "Lato", sans-serif;
  position: fixed;
  top: 0;
  height: 101vh;
  width: 70vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
@media screen and (min-width: 800px) {
  .panel, .item-detail-panel, .cart-panel {
    width: 40vw;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #001b47;
  margin: 0;
  padding: 0;
}
body h1, body h2, body h3, body p {
  font-weight: normal;
  margin: 0;
}
body fieldset {
  border: none;
}
body ul, body input {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

area:hover {
  cursor: pointer;
}

.errors {
  color: red;
  font-size: .9rem;
  list-style: none;
  min-height: 20px;
}

.modal {
  background-color: white;
  position: fixed;
  top: 10vh;
  left: 5vw;
  right: 5vw;
  height: 450px;
  width: 70vw;
  max-width: 750px;
  border: 1px solid #001b47;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .modal {
    top: 120px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4;
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-button h3 {
  font-size: .8rem;
  font-weight: normal;
}
.modal-button div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .modal-button div {
    flex-direction: row;
  }
}
.modal-button button {
  font-size: 1rem;
  height: 50px;
  width: 150px;
  margin: 2% 1% 0 1%;
}

.panel-title, .item-title, .cart-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.panel-overlay, .item-detail-overlay, .cart-overlay {
  background-color: white;
  height: 100vh;
  opacity: .25;
  position: fixed;
  width: 30vw;
  top: 0;
}
@media screen and (min-width: 800px) {
  .panel-overlay, .item-detail-overlay, .cart-overlay {
    width: 60vw;
  }
}

.item-detail-overlay {
  right: 0;
}

.one-size:hover {
  border: 1px solid #001b47;
  color: #001b47;
}

.auth-form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
}
.auth-form h2 {
  font-weight: normal;
  margin-top: 2%;
}
.auth-form a:hover {
  color: red;
}
.auth-form p {
  margin: 2% 0;
}

.auth-form__fieldset {
  display: inline-block;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .auth-form__fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.auth-form__label {
  display: flex;
  flex-direction: column;
  margin: 2vh auto 0 auto;
  width: 90%;
}
@media screen and (min-width: 800px) {
  .auth-form__label {
    width: 40%;
  }
}
.auth-form__label input {
  border: 1px solid #001b47;
  display: block;
  height: 40px;
  font-size: 1rem;
  padding-left: 3%;
  color: #808080;
}
.auth-form__label input:focus {
  outline: none;
  border: 2px solid #001b47;
}
.auth-form__label input:valid {
  border: 2px solid green;
}

.header {
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 2vw;
  position: fixed;
  min-height: 50px;
  top: 0;
  width: 96vw;
}
.header a {
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  .header {
    min-height: 100px;
  }
}

.header__search {
  display: none;
}
@media screen and (min-width: 800px) {
  .header__search {
    height: 35px;
    flex: 1;
    display: flex;
    align-items: center;
    order: 1;
  }
}
.header__search label {
  height: 33px;
  font-size: .75rem;
  display: flex;
  align-items: center;
  padding-left: 2%;
  width: 200px;
}
.header__search label:focus-within {
  border: 1px solid red;
  color: red;
}
.header__search input::placeholder {
  color: #001b47;
  text-transform: uppercase;
  font-size: .75rem;
}
.header__search input:focus {
  outline-width: 0px;
}
.header__search input:focus::placeholder {
  color: rgba(211, 211, 211, 0.671);
}
.header__search input[type="text"] {
  border: 0;
  width: 90%;
}

.header__logo {
  flex: 1;
  margin: 0 auto;
  text-align: center;
  order: 1;
}
@media screen and (min-width: 800px) {
  .header__logo {
    order: 2;
  }
}
.header__logo h1 {
  color: #001b47;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}
@media screen and (min-width: 800px) {
  .header__logo h1 {
    font-size: 45px;
  }
}
.header__logo h1:hover {
  color: red;
  cursor: pointer;
}

.header__tagline {
  display: none;
}
.header__tagline span {
  justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .header__tagline {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    text-transform: uppercase;
    width: 180px;
    padding-right: 2px;
  }
}

.header__buttons {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: fixed;
  bottom: -2px;
  min-height: 70px;
  width: 100vw;
}
@media screen and (min-width: 800px) {
  .header__buttons {
    box-shadow: none;
    justify-content: flex-end;
    order: 3;
    position: static;
  }
}

.header__button {
  font-size: .75rem;
  height: 35px;
  min-width: 100px;
}

.header__button--last {
  margin-left: 2%;
}

.search-results {
  margin: 2vh auto;
  text-align: center;
}
.search-results p {
  margin-bottom: 2%;
}
.search-results button {
  font-size: .9rem;
  height: 50px;
  padding: 0 3vw;
}

.no-items {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.no-items h1 {
  width: 100%;
}

.item-detail-panel {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.item-detail-info {
  z-index: 2;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.item-title {
  max-width: 90%;
}

.item-img-container {
  min-height: 200px;
  max-width: 300px;
  width: 90%;
  margin: 5%;
}

.item-img {
  width: 100%;
}

.item-price {
  font-size: 1.25rem;
  margin-top: 20px;
}

.item-sizes {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item-sizes label {
  margin: 5px;
}
.item-sizes input:checked ~ .size-text {
  border: 1px solid red;
  color: red;
}
.item-sizes input {
  opacity: 0;
  height: 0;
  width: 0;
}
.item-sizes span {
  padding: 10px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.size-text {
  border: 1px solid #001b47;
  color: #001b47;
}
.size-text:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.deactivated .size-text {
  border: 1px solid lightgray;
  color: lightgray;
}
.deactivated .size-text:hover {
  border: 1px solid lightgray;
  color: lightgray;
  cursor: default;
}

.log-in-add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in-add-to-cart p {
  width: 70%;
  text-align: center;
  margin-bottom: 5%;
}

.add-to-cart {
  font-size: .9rem;
  height: 50px;
  width: 150px;
}

.image-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 70px 0;
}
@media screen and (min-width: 800px) {
  .image-index {
    margin: 130px 0 0 0;
  }
}

.image-index-item {
  margin-bottom: 5%;
  max-width: 600px;
  width: 90%;
}
.image-index-item img {
  width: 100%;
}

.cart-panel {
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  right: 0;
}

.cart-overlay {
  left: 0;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 90%;
  z-index: 2;
}

.cart-items {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  margin: 15px 0;
  width: 90%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #001b47;
  margin: 1%;
  min-height: 150px;
  padding: 2%;
  width: 90%;
  animation: item-slide-left .5s forwards;
}

.cart-item-info {
  width: 60%;
  height: 100%;
  padding: 1%;
}

.cart-img {
  margin: 0 auto;
  width: 40%;
}
.cart-img img {
  max-width: 150px;
  width: 80%;
}

.cart-fields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5rem;
}

.cart-field-name {
  display: inline-block;
  font-size: .9rem;
}

.cart-sizes {
  background-color: white;
  border: 1px solid #001b47;
  border-radius: 0px;
  color: #001b47;
  display: inline-block;
  margin-left: 2%;
  min-width: 60px;
  padding: 2%;
  -webkit-appearance: none;
}
.cart-sizes:hover {
  cursor: pointer;
  color: red;
  border: 1px solid red;
}

.cart-remove {
  font-size: .7rem;
  margin-top: 1rem;
}

.cart-update {
  display: inline-block;
  font-size: .7rem;
}
.cart-update:hover {
  border: 1px solid blue;
  color: blue;
}

.checkout {
  font-size: .9rem;
  height: 50px;
  width: 150px;
}

.cart-title {
  text-decoration: none;
}

.cart-item-title {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.ashley-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2%;
}

.ashley-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ashley-img {
  width: 50%;
}

.ashley-info-links {
  flex: 1;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ashley-links {
  display: flex;
  flex-direction: row;
}
.ashley-links a {
  margin-right: 2%;
}
.ashley-links img {
  width: 4vw;
}
