
.button {
  background-color: $bgcolor;
  border: 1px solid $main-text;
  color: $main-text;
  border-radius: 0;
  
  text-transform: uppercase;
  &:hover{
      border: 1px solid $hover;
      color: $hover;
      cursor: pointer;
    }
}

.panel {
  font-family: $mainfont;
  position: fixed;
  top: 0;
  height: 101vh;
  width: 70vw;
  background-color: $bgcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  @media screen and (min-width: $desktop){
    width: 40vw;
  }
}

body{
  font-family: 'Lato', sans-serif;
  color: $main-text;
  margin: 0;
  padding: 0;
  h1, h2, h3, p{
    font-weight: normal;
    margin: 0;
  }
  fieldset{
    border: none;
  }
  ul, input{
    margin: 0;
    padding: 0;
  }
}

a{
  color: inherit;
  &:visited{
    color: inherit;
  }
}

area:hover{
  cursor: pointer;
}



.errors{
  color: red;
  font-size: .9rem;
  list-style: none;
  min-height: 20px;
}

.modal{
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 120px;
  left: 5vw;;
  right: 5vw;
  height: 450px;
  width: 70vw;
  max-width: 750px;
  border: 1px solid $main-text;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .50);
  z-index: 4;
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: .8rem;
    font-weight: normal;
  }
  div{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop){
      flex-direction: row;
    }
  }
  button{
    @extend .button;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    margin: 2% 1% 0 1%;
  }
}

.panel-title{
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.panel-overlay{
  background-color: $bgcolor;
  height: 100vh;
  opacity: .25;
  position: fixed;
  width: 30vw;
  @media screen and (min-width: $desktop) {
    width: 60vw;
  }
}

.item-detail-overlay{
  @extend .panel-overlay;
  right: 0;
}

.one-size{
  &:hover{
    border: 1px solid $main-text;
    color: $main-text;
  }
}
