// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import 'helpers/_variables';
@import 'helpers/_animations';
@import 'base';
@import 'components/auth';
@import 'components/header';
@import 'components/search';
@import 'components/item-detail';
@import 'components/image-index';
@import 'components/cart-index';
@import 'components/cart-checkout';
