// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$test: 2px dashed green;
$hover: red;
$main-text: darkgrey;
$inputpadding: 3%;
$bgcolor: white;

.button {
  border: 1px solid $main-text;
  color: $main-text;
  border-radius: 0;
  
  text-transform: uppercase;
  &:hover{
      border: 1px solid $hover;
      color: $hover;
      cursor: pointer;
    }
}

.panel {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: $bgcolor;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  font-family: sans-serif;
  color: $main-text;
  margin: 0;
  padding: 0;
  h1, h2, h3{
    font-weight: normal;
    margin: 0;
  }
  fieldset{
    border: none;
  }
  ul, input{
    margin: 0;
    padding: 0;
  }
}

a{
  color: inherit;
  &:visited{
    color: inherit;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1%;
  min-height: 100px;
  a{
    text-decoration: none;
  }
}

.header__search{
  min-height: 35px;
  flex: 1;
  width: inherit;
  label{
    @extend .button;
    font-size: .75rem;
    padding: 3%;
  }
  input{
    margin-left: $inputpadding;
    height: 90%;
    border: 0px;
    font-size: inherit;
    &:focus{
      outline-width: 0px;
    }
  }
}

.header__logo{
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  &:hover{
    color: $hover;
  }
  h1{
    margin: 0 auto;
  }
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header__button{
  @extend .button;
  font-size: .75rem;
  height: 35px;
  min-width: 100px;
}

.header__button--last{
  margin-left: 2%;
}

.auth-form{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  h2{
    font-weight: normal;
    margin-top: 2%;
  }
  a:hover{
    color: $hover;
  }
  p{
    margin: 2% 0;
  }
}

.auth-form__fieldset{
  width: 40%;
}

.auth-form__label{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  input{
    display: block;
    height: 40px;
    min-width: 250px;
    font-size: 1rem;
    padding-left: $inputpadding;
    color: #808080;
    &:focus{
      outline: none;
      border: 2px solid $main-text;
    }
    &:valid{
      border: 2px solid green;
    }
  }
}

.auth-form__errors{
  color: red;
  font-size: .9rem;
  list-style: none;
  min-height: 20px;
}

.modal{
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 120px;
  left: 5vw;;
  right: 5vw;
  height: 450px;
  width: 70vw;
  min-width: 500px;
  max-width: 750px;
  border: 1px solid $main-text;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .50);
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: .8rem;
    font-weight: normal;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  button{
    @extend .button;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    margin: 2% 1% 0 1%;
  }
}

.image-index{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img{
    margin-bottom: 5%;
  }
}

.item-detail-panel{
  animation: item-slide-left .5s forwards;
  border-right: 1px solid $main-text;
  @extend .panel;
}

@keyframes item-slide-left {
  0% {left: -40vw}
  100% {left: 0}
}

@keyframes item-slide-right {
  0% {right: -40vw}
  100% {right: 0}
}

.item-detail-info{
  z-index: 2;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-title{
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.item-img-container{
  min-height: 300px;
  min-width: 300px;
  width: 90%;
}

.item-img{
  width: 100%;
  
}

.item-price{
  font-size: 1.25rem;
}

.item-sizes{
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  label{
    margin: 5px;
  }

  input:checked ~ .size-text{
    border: 1px solid $hover;
    color: $hover;
  }

  input{
    opacity: 0;
    height: 0;
    width: 0;
  }

  span{
    padding: 10px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
  }

  .size-text{
    border: 1px solid $main-text;
    color: $main-text;

    &:hover{
      border: 1px solid $hover;
      color: $hover;
      cursor: pointer;
    }
  }
}


.add-to-cart{
  @extend .button;
  font-size: .9rem;
  height: 50px;
  width: 150px;
}

.panel-overlay{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: $bgcolor;
  opacity: .25;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.item-detail-overlay{
  @extend .panel-overlay;
  right: 0;
}

.cart{
  animation: item-slide-right .5s forwards;
  border-left: 1px solid $main-text;
  @extend .panel;
}

.cart-overlay{
  @extend .panel-overlay;
  left: 0;
}

.cart-info{
  z-index: 2;
}