// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$test: 2px dashed green;
$hover: red;
$mainfont: 'Lato', sans-serif;
$logofont: 'Josefin Sans', sans-serif;
$logocolor: #001b47;
$main-text: #001b47;
$inputpadding: 3%;
$bgcolor: white;
$boxshadow: rgba(0, 10, 27, 0.2);
$deactivated: lightgray;

.button {
  background-color: $bgcolor;
  border: 1px solid $main-text;
  color: $main-text;
  border-radius: 0;
  
  text-transform: uppercase;
  &:hover{
      border: 1px solid $hover;
      color: $hover;
      cursor: pointer;
    }
}

.panel {
  font-family: $mainfont;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: $bgcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

body{
  font-family: 'Lato', sans-serif;
  color: $main-text;
  margin: 0;
  padding: 0;
  h1, h2, h3, p{
    font-weight: normal;
    margin: 0;
  }
  fieldset{
    border: none;
  }
  ul, input{
    margin: 0;
    padding: 0;
  }
}

a{
  color: inherit;
  &:visited{
    color: inherit;
  }
}

area:hover{
  cursor: pointer;
}

.header{
  background-color: $bgcolor;
  box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  position: fixed;
  min-height: 100px;
  top: 0;
  width: 96vw;
  a{
    text-decoration: none;
  }
}

.header__search{
  height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  label{
    @extend .button;
    height: 33px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 200px;
    &:focus-within{
      border: 1px solid $hover;
      color: $hover;
    }
  }
  input{
    &::placeholder{
      color: $main-text;
      text-transform: uppercase;
      font-size: .75rem;
    }
    &:focus{
      outline-width: 0px;
      &::placeholder{
        color: lightgray;
      }
    }
    &[type="text"]{
      border: 0;
      width: 90%;
    }
  }
}

// .search-submit{
//   @extend .button;
//   height: inherit;
//   padding: 5px;
//   font-size: .75rem;
//   width: 75px;
//   &:focus{
//     border: 1px solid $hover;
//     color: $hover;
//   }
// }

.header__logo{
  flex: 1;
  margin: 0 auto;
  text-align: center;
  h1{
    color: $logocolor;
    font-family: $logofont;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    &:hover{
      color: $hover;
      cursor: pointer;
    }
  }
  h2{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    text-transform: uppercase;
    width: 180px;
    padding-right: 2px;
    span{
      justify-content: space-between;
    }
  }
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header__button{
  @extend .button;
  font-size: .75rem;
  height: 35px;
  min-width: 100px;
}

.header__button--last{
  margin-left: 2%;
}

.auth-form{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  h2{
    font-weight: normal;
    margin-top: 2%;
  }
  a:hover{
    color: $hover;
  }
  p{
    margin: 2% 0;
  }
}

.auth-form__fieldset{
  width: 40%;
}

.auth-form__label{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  input{
    display: block;
    height: 40px;
    min-width: 250px;
    font-size: 1rem;
    padding-left: $inputpadding;
    color: #808080;
    &:focus{
      outline: none;
      border: 2px solid $main-text;
    }
    &:valid{
      border: 2px solid green;
    }
  }
}

.errors{
  color: red;
  font-size: .9rem;
  list-style: none;
  min-height: 20px;
}

.modal{
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 120px;
  left: 5vw;;
  right: 5vw;
  height: 450px;
  width: 70vw;
  min-width: 500px;
  max-width: 750px;
  border: 1px solid $main-text;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .50);
  z-index: 4;
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: .8rem;
    font-weight: normal;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  button{
    @extend .button;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    margin: 2% 1% 0 1%;
  }
}

.image-index{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 130px;
  img{
    margin-bottom: 5%;
  }
}

.item-detail-panel{
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  @extend .panel;
}

@keyframes slide-in-left {
  0% {left: -40vw}
  100% {left: 0}
}

@keyframes slide-out-left {
  0% {left: 0vw}
  100% {left: -40vw }
}

@keyframes slide-in-right {
  0% {right: -40vw}
  100% {right: 0}
}

@keyframes slide-out-right {
  0% {right: 0vw}
  100% {right: -40vw}
}

.slide-in-left{
  animation: slide-in-left .5s;
}

.slide-out-left{
  animation: slide-out-left .5s;
}

.slide-in-right{
  animation: slide-in-right .5s;
}

.slide-out-right{
  animation: slide-out-right .5s;
}

.item-detail-info{
  z-index: 2;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.panel-title{
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.item-title{
  @extend .panel-title;
  max-width: 90%;
}

.item-img-container{
  width: 300px;
  max-width: 100%;
}

.item-img{
  width: 100%;
  
}

.item-price{
  font-size: 1.25rem;
}

.item-sizes{
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  label{
    margin: 5px;
  }

  input:checked ~ .size-text{
    border: 1px solid $hover;
    color: $hover;
  }

  input{
    opacity: 0;
    height: 0;
    width: 0;
  }

  span{
    padding: 10px;
    display: inline-block;
    min-width: 20px;
    text-align: center;
  }
}

.size-text{
  border: 1px solid $main-text;
  color: $main-text;

  &:hover{
    border: 1px solid $hover;
    color: $hover;
    cursor: pointer;
  }
}

.deactivated{
  .size-text{
    border: 1px solid $deactivated;
    color: $deactivated;
    &:hover{
      border: 1px solid $deactivated;
      color: $deactivated;
      cursor: default;
    }
  }
}

.log-in-add-to-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    width: 70%;
    text-align: center;
    margin-bottom: 5%;
  }
}

.add-to-cart{
  @extend .button;

  font-size: .9rem;
  height: 50px;
  width: 150px;
}

.panel-overlay{
  background-color: $bgcolor;
  height: 100vh;
  opacity: .25;
  position: fixed;
  width: 60vw;
}

.item-detail-overlay{
  @extend .panel-overlay;
  right: 0;
}

@keyframes item-overlay-slide-in-left {
  0% { right: -60vw }
  100% { right: 0 }
}

@keyframes item-overlay-slide-out-left {
  0% { right: 0 }
  100% { right: -60vw }
}

@keyframes item-overlay-slide-in-right {
  0% { left: -60vw }
  100% { left: 0 }
}

@keyframes item-overlay-slide-out-right {
  0% { left: 0 }
  100% { left: -60vw }
}

.overlay-slide-in-left {
  animation: item-overlay-slide-in-left .5s;
}

.overlay-slide-out-left {
  animation: item-overlay-slide-out-left .5s;
}

.overlay-slide-in-right {
  animation: item-overlay-slide-in-right .5s;
}

.overlay-slide-out-right {
  animation: item-overlay-slide-out-right .5s;
}

.cart-panel{
  @extend .panel;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  right: 0;
}

.cart-overlay{
  @extend .panel-overlay;
  left: 0;
}

.cart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 90%;
  width: 90%;
  z-index: 2;
}

.cart-items{
  flex: 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  margin: 15px 0;
  width: 90%;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $main-text;
  margin: 1%;
  min-height: 150px;
  padding: 2%;
  width: 90%;
  
  animation: item-slide-left .5s forwards;
}

.cart-item-info{
  width: 60%;

  height: 100%;
  padding: 1%;
}

.cart-img{
  margin: 0 auto;
  width: 40%;
  img{
    max-width: 150px;
    width: 80%;
  }
}

.cart-fields{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: .5rem;
}

.cart-field-name{
  display: inline-block;
  font-size: .9rem;
}

.cart-sizes{
  background-color: $bgcolor;
  border: 1px solid $main-text;
  border-radius: 0px;
  color: $main-text;
  display: inline-block;
  margin-left: 2%;
  min-width: 60px;
  padding: 2%;
  -webkit-appearance: none;
  &:hover{
    cursor: pointer;
    color: $hover;
    border: 1px solid $hover;
  }
}

.cart-remove{
  @extend .button;
  font-size: .7rem;
  margin-top: 1rem;
}

.cart-update{
  @extend .button;
  display: inline-block;
  font-size: .7rem;
  &:hover{
    border: 1px solid blue;
    color: blue;
  }
}

.checkout{
  @extend .button;

  font-size: .9rem;
  height: 50px;
  width: 150px;
}

.cart-title{
  @extend .panel-title;
  text-decoration: none;
}

.cart-item-title{
  display: block;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.search-results{
  margin: 2vh auto;
  text-align: center;
  p{
    margin-bottom:  2%;
  }
  button{
    @extend .button;
    font-size: .9rem;
    height: 50px;
    padding: 0 3vw;
  }
  &:hover{
    color: $hover;
  }
}

.no-items{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h1{
    width: 100%;
  }
}

.one-size{
  &:hover{
    border: 1px solid $main-text;
    color: $main-text;
  }
}

.checkout-modal{
  
}

.ashley-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2%;
}

.ashley-img-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ashley-img{
  width: 50%;
}

.ashley-info-links{
  flex: 1;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ashley-links{
  display: flex;
  flex-direction: row;
  a{
    margin-right: 2%;
  }
  img{
    width: 4vw;
  }
}
