// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$test: 2px dashed green;
$hover: red;
$main-text: darkgrey;
$inputpadding: 3%;

.button {
  border: 1px solid $main-text;
  color: $main-text;
  border-radius: 0;
  
  text-transform: uppercase;
  &:hover{
      border: 1px solid $hover;
      color: $hover;
      cursor: pointer;
    }
}

body{
  font-family: sans-serif;
  color: $main-text;
  margin: 0;
  padding: 0;
  h1, h2, h3{
    font-weight: normal;
    margin: 0;
  }
  fieldset{
    border: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
}

a{
  color: inherit;
  &:visited{
    color: inherit;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1%;
  min-height: 100px;
  a{
    text-decoration: none;
  }
}

.header__search{
  min-height: 35px;
  flex: 1;
  width: inherit;
  label{
    @extend .button;
    font-size: .75rem;
    padding: 3%;
  }
  input{
    margin-left: $inputpadding;
    height: 90%;
    border: 0px;
    font-size: inherit;
    &:focus{
      outline-width: 0px;
    }
  }
}

.header__logo{
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  &:hover{
    color: $hover;
  }
  h1{
    margin: 0 auto;
  }
}

.header__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header__button{
  @extend .button;
  font-size: .75rem;
  height: 35px;
  min-width: 100px;
  &:last-of-type{
    margin-left: 2%;
  }
}

.auth-form{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  h2{
    font-weight: normal;
    margin-top: 2%;
  }
  a:hover{
    color: $hover;
  }
  p{
    margin: 2% 0;
  }
}

.auth-form__fieldset{
  width: 40%;
}

.auth-form__label{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  input{
    display: block;
    height: 40px;
    min-width: 250px;
    font-size: 1rem;
    padding-left: $inputpadding;
    color: #808080;
    &:focus{
      outline: none;
      border: 2px solid $main-text;
    }
    &:valid{
      border: 2px solid green;
    }
  }
}

.auth-form__errors{
  color: red;
  font-size: .9rem;
  list-style: none;
  min-height: 20px;
}

.modal{
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 120px;
  left: 5vw;;
  right: 5vw;
  height: 450px;
  width: 70vw;
  min-width: 500px;
  max-width: 750px;
  border: 1px solid $main-text;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .50);
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: .8rem;
    font-weight: normal;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  button{
    @extend .button;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    margin: 2% 1% 0 1%;
  }
}

.image_index{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
